
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    height: 400PX;
    width: 400PX;

}

h1 {
    color: #333;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
   
    margin-bottom: 20px;
}

label, input{
    padding: 5px;
}

label, input, button {
    display: block;
    margin: 10px auto;
    font-size: 16px;
}

button {
    background-color: #367fed;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    height:auto;
    width: 200px;
}

button:hover {
    background-color: #1c196d;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}
